html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
  color: green;
  font-family: "Comic Sans MS", "Fuzzy Bubbles", cursive, sans-serif;
  overflow: hidden;
  cursor: none;
}

.timer-container {
  font-size: 20rem;
  margin-top: 10rem;
  text-align: center;
}
